apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- eth2-private-node.yaml

# Adds namespace to all resources.
namespace: ${kubernetes_namespace}

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
namePrefix: ${kubernetes_name_prefix}-

imageTags:
  - name: prysm-sh
    newName: gcr.io/${project}/prysm-sh
    newTag: ${kubernetes_namespace}-latest
  - name: prysm-validator-sh
    newName: gcr.io/${project}/prysm-validator-sh
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: prysm-configmap
  literals:
      - ETH1_URL="${eth1_url}"
      - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
      - CHAIN="${chain}"

patchesStrategicMerge:
- prefixedpv.yaml
- regionalpvpatch.yaml
